################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/2021-1-OSSP1-powerG-7/v16/.suo
/.vs/2021-1-OSSP1-powerG-7/v16
/.vs
/app/sessions/yTZhkGX4RxSjjTdus2E4DQ0fixySBCVx.json
/app/sessions/W7N8qiX0X9XtsPPFxH3u4gvLROONb6Gf.json.598297624
/app/sessions/W7N8qiX0X9XtsPPFxH3u4gvLROONb6Gf.json
